{{#fillContent 'js'}}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    function handleSubmit(event) {
        event.preventDefault();
    
        var newPwd = document.querySelector('#txtNewPwd').value;
        var confirm = document.querySelector('#txtConfirm').value;
        if (newPwd !== confirm) {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'New password and confirm password do not match!',
                confirmButtonText: 'Cool'
            });
            return;
        }
        if(newPwd.length < 6) {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'New password must be at least 6 characters long!',
                confirmButtonText: 'Cool'
            });
            return;
        }
        event.target.submit();
    };  
    document.querySelector('#frmChangePwd').addEventListener('submit', handleSubmit);
</script>
{{/fillContent}}

<form id="frmChangePwd" action="/account/change-password" method="post">
<div class="card">
    <h5 class="card-header">Change Password</h5>
    <div class="card-body">
        {{#if error}}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <strong>Error:</strong> Wrong current password!
        </div>
        {{/if}}
        <h4 class="card-title">Title</h4>
        <p class="card-text">Text</p>

        <div class="mb-3">
        <label for="txtId" class="form-label">ID</label>
        <input type="text" class="form-control" id="txtId" name="id" readonly value="{{user.id}}">
      </div>

        <div class="mb-3">
        <label for="txtCurPwd" class="form-label">Current Password</label>
        <input type="password" class="form-control" id="txtCurPwd" name="curPwd">
      </div>

      <div class="mb-3">
        <label for="txtNewPwd" class="form-label">New Password</label>
        <input type="password" class="form-control" id="txtNewPwd" name="newPwd">
      </div>

      <div class="mb-3">
        <label for="txtConfirm" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" id="txtConfirm" name="confirm" >
      </div>
        
    </div>
    <div class="card-footer text-muted">
        <button type="submit">
            <i class ="bi bi-save"></i> Save
        </button>
    </div>
</div>
</form>