{{#fillContent 'js'}}
<script>
  function handleSubmit(e) {
    e.preventDefault();

    const username = document.querySelector('#txtUsername').value.trim();
    if (username.length === 0) {
      Swal.fire({
        title: 'Error',
        text: 'Please enter username.',
        icon: 'error',
        confirmButtonText: 'OK'
      });
      return;
    }

    const password = document.querySelector('#txtPassword').value;
    if (password.length < 6) {
      Swal.fire({
        title: 'Error',
        text: 'Password must be at least 6 characters long.',
        icon: 'error',
        confirmButtonText: 'OK'
      });
      return;
    }

    const confirm = document.querySelector('#txtConfirm').value;
    if (confirm !== password) {
      Swal.fire({
        title: 'Error',
        text: 'Password and Confirm password do not match.',
        icon: 'error',
        confirmButtonText: 'OK'
      });
      return;
    }

    const url = `/account/is-available?u=${username}`;
    fetch(url)
      .then(function (res) {
        return res.json();
      })
      .then(function (data) {
        if (data === false) {
          Swal.fire({
            title: 'Error',
            text: 'Username is already taken. Please choose another one.',
            icon: 'error',
            confirmButtonText: 'OK'
          });
        } else {
          e.target.submit();
        }
      })
      .catch(function (err) {
        Swal.fire({
          title: 'Error',
          text: err.message,
          icon: 'error',
          confirmButtonText: 'OK'
        })
        console.error(err);
      });
  }

  document.addEventListener("DOMContentLoaded", function () {
    document.querySelector("#frmSignup").addEventListener("submit", handleSubmit);
  });
</script>
{{/fillContent}}

<div class="card">
  <h5 class="card-header">Account Registration</h5>
  <div class="card-body">
    <form id="frmSignup" method="post" action="/account/signup">
      <div class="mb-3">
        <label for="txtUsername" class="form-label">Username</label>
        <input type="text" class="form-control" id="txtUsername" name="username">
      </div>

      <div class="mb-3">
        <label for="txtPassword" class="form-label">Password</label>
        <input type="password" class="form-control" id="txtPassword" name="password">
      </div>

      <div class="mb-3">
        <label for="txtConfirm" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" id="txtConfirm" name="confirmPassword">
      </div>

      <h5 class="card-title mt-4">Personal Information</h5>

      <div class="mb-3">
        <label for="txtName" class="form-label">Name</label>
        <input type="text" class="form-control" id="txtName" name="name">
      </div>

      <div class="mb-3">
        <label for="txtEmail" class="form-label">Email address</label>
        <input type="email" class="form-control" id="txtEmail" name="email" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>

      <div class="mb-3">
        <label for="txtDoB" class="form-label">Date of Birth</label>
        <input type="date" class="form-control" id="txtDoB" name="dob">
      </div>

      <button type="submit" class="btn btn-primary">
        <i class="bi bi-person-fill-add"></i>
        Submit
      </button>

      <button type="reset" class="btn btn-info">
        <i class="bi bi-x-circle"></i>
        Reset
      </button>

      <button type="button" class="btn btn-warning">
        <i class="bi bi-shield-lock"></i>
        General
      </button>
    </form>
  </div>
</div>

<!-- SweetAlert2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
