<div class="card">
    <div class="card-header">
        Lỗi 404
    </div>
    <div class="card-body">
        <h5 class="card-title">Không tìm thấy trang</h5>
        <p class="card-text">Rất tiếc, trang bạn đang tìm kiếm không tồn tại.</p>
        <a href="/articles" class="btn btn-primary">Quay về trang chủ</a>
    </div>
</div>