<div class="card">
    <div class="card-header">
        Trang chủ
    </div>
    <div class="card-body">
        <p class="card-text">
            Sinh viên tự bố trí nội dung phù hợp
        </p>
    </div>
    <div class="card-footer text-muted">Footer</div>
</div>
