<form id="frmAddCategory" method="post" action="/admin/categories/add">
<div class="card">
    <div class="card-header">New Category</div>
    <div class="card-body">
        <div class="mb-3">
        <label for="txtCatName" class="form-label">Category Name</label>
        <input type="text" class="form-control" id="txtCatName" name="catName" autofocus required>
        </div>
    </div>
    <div class="card-footer text-muted">
        <a
            class="btn btn-outline-success"
            href="/admin/categories"
            role="button"
            >
            <i class="bi bi-arrow-left"></i>      
            Back
         </a>
        <button type="submit" class="btn btn-success">
            <i class="bi bi-check"></i>
                Save
        </button>     
    </div>
</div>
</form>