<div class="card">
     <h5 class="card-header d-flex justify-content-between justify-content-center">
        Categories
        <a name ="" id="" class="btn btn-primary btn-sm float-end" href="/admin/categories/add" role="button">
        <i class="bi bi-plus-circle"></i>
         New Category
    </a>
</h5>
<div class="card-body">
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col" class = 'text-center'>#</th>
      <th scope="col">First</th>
      <th scope="col" class="text-end">Action</th>
    </tr>
  </thead>
  <tbody>
    {{#each categories}}
    <tr>
      <th scope="row" class = 'text-center'>{{catid}}</th>
      <td>{{catname}}</td>
      <td class="text-end">  
        <a name ="" id="" class="btn btn-primary btn-sm float-end" href="/admin/categories/edit?id={{catid}}" role="button">
          <i class="bi bi-pencil-square"></i>
      </a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>
</div>