{{#fillContent 'css'}}
<link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />
<link href="https://releases.transloadit.com/uppy/v5.1.5/uppy.min.css" rel="stylesheet">
{{/fillContent}}

{{#fillContent 'js'}}
<script src="https://cdn.jsdelivr.net/npm/cleave.js@1.6.0/dist/cleave.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>

<script>

    new Cleave('#txtProPrice', {
        numeral: true,
        numeralThousandsGroupStyle: 'thousand'
    });

    new Cleave('#txtQuantity', {
        numeral: true,
        numeralThousandsGroupStyle: 'thousand'
    });

        const quill = new Quill('#editor', {
    theme: 'snow'
    });

    document.querySelector('#frmAddProduct').addEventListener('submit', function(e) {
        document.querySelector('#txtFullDes').value = quill.root.innerHTML;
    });

</script>
<script type="module">
  import { Uppy, Dashboard, XHRUpload } from "https://releases.transloadit.com/uppy/v5.1.5/uppy.min.mjs"
  const uppy = new Uppy()
  uppy.use(Dashboard, { target: '#uppy', inline: true })
  uppy.use(XHRUpload, {
    endpoint: '/admin/products/upload',
    formData: true,
    fieldName: 'photos',
  })

    let photos = [];
  uppy.on('upload-success', function(file, response) {
    if(response.body.files) {
        for (const f of response.body.files)
        {
            photos.push(f.filename);
        }
        document.querySelector('#txtPhotos').value = JSON.stringify(photos);
    }
  });
</script>
{{/fillContent}}


<form id="frmAddProduct" method="post">
<div class="card">
    <div class="card-header">New Product</div>
    <div class="card-body">
        <div class="mb-3">
        <label for="txtProName" class="form-label">Product Name</label>
        <input type="text" class="form-control" id="txtProName" name="proname" autofocus required>
        </div>

        <div class="mb-3">
        <label for="txtProPrice" class="form-label">Product Price</label>
        <input type="text" class="form-control" id="txtProPrice" name="price">
        </div>

        <div class="mb-3">
        <label for="txtProQuantity" class="form-label">Quantity</label>
        <input type="text" class="form-control" id="txtQuantity" name="quantity">
        </div>

        
        <div class="mb-3">
            <label for="selCatId" class="form-label">Category</label>
            <select class="form-select" name="catid" id="selCatId">
                {{#each globalCategories}}
                <option selected value="{{catid}}">{{catname}}</option>
                {{/each}}
            </select>
        </div>

        <div class="mb-3">
        <label for="txtTinyDes" class="form-label">Description</label>
        <input type="text" class="form-control" id="txtTinyDes" name="tinydes">
        </div>

        <div class="mb-3">
        <label  class="form-label">Full Description</label>
        <div id="editor" style="height: 200px;"></div>
        <input type="hidden" name="fulldes" id="txtFullDes">
        </div>

        <div class="mb-3">
        <label  class="form-label">Photo</label>
        <div id="uppy"></div>
        <input type="hidden" id="txtPhotos" name="photos">
        </div>
        
    </div>
    <div class="card-footer text-muted">
        <a
            class="btn btn-outline-success"
            href="/admin/products"
            role="button"
            >
            <i class="bi bi-arrow-left"></i>      
            Back
         </a>
        <button type="submit" class="btn btn-success">
            <i class="bi bi-check"></i>
                Save
        </button>     
    </div>
</div>
</form>